
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Administración Clientes</h1>

<div class="container">
    <div class="row">
        <div class="col-ml-12">
            <div class="card">
                <div class="card-header">
                    Clientes
                </div>
            </div>
        </div>
    </div>
</div>
